.card:hover {
  cursor: pointer;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.amenity-card {
  height: 220px;
  border-radius: 15px;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.4s ease;
}

.amenity-card .overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 15px;
  color: white;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
}

.amenity-card:hover {
  transform: scale(1.03);
  box-shadow:
    rgb(85, 91, 255) 0px 0px 0px 3px,
    rgb(31, 193, 27) 0px 0px 0px 6px,
    rgb(255, 217, 19) 0px 0px 0px 9px,
    rgb(255, 156, 85) 0px 0px 0px 12px,
    rgb(255, 85, 85) 0px 0px 0px 15px;
}
