@import url("https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100..900&display=swap");

.privacyTandC {
  display: flex;
  justify-content: space-around;
  font-family: "Smooch Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
}

.privacy:hover,
.TandC:hover {
  text-decoration: underline;
  cursor: pointer;
}

.copyright {
  font-family: "Smooch Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  display: flex;
  align-items: center;
}
